/*
 *
 * MEDIA QUERIES
 *
 * Includes: phone-v, phone-h, tablet-v, tablet-h, laptop, television, image2x
 */


/*******************************
BREAK POINTS
*******************************/
@mixin bp($point) {
	// base style is global (watch, phone, tablet, desktop, image2x)
	// then media queries are applied as viewport width or display resolution increases
	
	
	// VIEWPORT SIZES
	$bp-phone-v: "screen and (min-width: 240px)";		// phone vertically & up
	$bp-phone-h: "screen and (min-width: 320px)";		// phone horizontally & up
	$bp-tablet-v: "screen and (min-width: 640px)";		// tablet vertically & up
	$bp-tablet-h: "screen and (min-width: 764px)";		// tablet horizontally & up
	$bp-laptop: "screen and (min-width: 1024px)";		// laptop & up
	$bp-television: "screen and (min-width: 1224px)";	// television & up
	
	// DISPLAY RESOLUTION
	$bp-image2x: "screen and (min-device-pixel-ratio: 1.5)";	// @2x high resolution displays & up


	// MEDIA QUERIES 
	@if $point == phone-v {						// phone-v
		@media #{$bp-phone-v} { @content; }
	}
	@else if $point == phone-h {				// phone-h
		@media #{$bp-phone-h} { @content; }
	}
	@else if $point == tablet-v {				// tablet-v
		@media #{$bp-tablet-v}	{ @content; }
	}
	@else if $point == tablet-h {				// tablet-h
		@media #{$bp-tablet-h}	{ @content; }
	}
	@else if $point == laptop {					// laptop
		@media #{$bp-laptop}  { @content; }
	}
	@else if $point == television {				// television
		@media #{$bp-television}  { @content; }
	}
	@else if $point == image2x {				// image2x
		@media #{$bp-image2x}  { @content; }
	}

}