/* -------------------------- */
/*      980 Grid System       */
/* -------------------------- */

.w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9, .w10, .w11, .w12 { margin: 0 0 0 5%; /* 20px */ }
.w1 { width: 20%; /* 60px */ }
.w2 { width: 45%; /* 140px */ }
.w3 { width: 70%; /* 220px */ }
.w4 { width: 95%; /* 300px */ }
.w5 { width: 20%; /* 380px */ }
.w6 { width: 45%; /* 460px */ }
.w7 { width: 70%; /* 540px */ }
.w8 { width: 95%; /* 620px */ }
.w9 { width: 20%; /* 700px */ }
.w10 { width: 45%; /* 780px */ }
.w11 { width: 70%; /* 860px */ }
.w12 { width: 95%; /* 940px */ }