////////////
// Colors //
////////////


/* ----------------------------- */
/* ------- Text Colors ------- */
/* ----------------------------- */

$text: #222;
$link: #e65e34;


/* ----------------------------- */
/* ------- Global Colors ------- */
/* ----------------------------- */

$orange: $link;
$green: #168d48;
$red: #900;
$yellow: #f28f2c;
$tan: #f4ecda;
$gray: #999;
$gray-dark: #555;
$gray-light: #ccc;


/* ----------------------------------- */
/* ------- Social Media Colors ------- */
/* ----------------------------------- */

$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$google-red: #dd4b39;
$pinterest-red: #cb2027;
$linkedin-blue: #007bb6;
$vimeo-blue: #4ebbff;
$youtube-red: #bb0000;
$flickr-pink: #ff0084;
$rss-orange: #ff6600;