/*
 *
 * HEADER STYLES
 *
 */


/*******************************
HEADER
*******************************/
.header-logo {
	width:30%;
	max-width: 260px;
	margin-top: baseline(1);
	text-align: center;
}


#menu-toggle { // toggles the menu visibity for mobile
	display: block;
	@include bp('tablet-v') {
		display: none;
	}
}